/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Layout CSS */

body {
    background-color: #F2FEDC;
}

.container {
    margin: 0 5px 0 5px;
    border: 1px;
    background-color: #2F5249;
    padding: 20px;
    display: grid;
    color: wheat;
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}

/* Navigation Bar */

.navigation {
    display: inline-flex;
    place-content: space-between;
    margin: 5px;
    border: 5px;
    padding: 10px;
}

.logo {
    text-transform: uppercase;
}

.logo h1 {
    font-size: 30px;
    font-weight: bold;
}

.logo2 {
    gap: 5px;
    align-items: center;
}

.logo2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    color: wheat;
}

/* footer */

.footer {
    display: inline-flex;
    place-content: space-between;
    margin: 5px;
    border: 5px;
    padding: 10px;
    align-items: center;
}

.right p {
    margin: 5px;
    border: 1px;
    padding: 4px;
    font-weight: bold;
    align-self: center;
}

.right a {
    margin: 5px;
    border: 1px;
    padding: 4px;
    text-decoration: none;
}

.left small {
    font-size: 0.7rem;
}

/* Icons */

.fa-briefcase {
    font-size: 2rem;
    color: wheat;
}

.fa-facebook-f {
    font-size: 2rem;
    color: wheat;
}

.fa-github-square {
    font-size: 2rem;
    color: wheat;
}

.fa-linkedin-square {
    font-size: 2rem;
    color: wheat;
}

/* Contents */

.content {
    display: inline-flex;
    margin: 3px 10px 3px 10px;
    border: 10px;
    padding: 10px;
    place-content: center;
    justify-content: space-evenly;
}

.title {
    display: inline-flex;
    margin: 5px;
    border: 8px;
    padding: 10px;
    width: 30%;
    place-content: center;
}

.image {
    margin: 2px;
    border: 1px;
    padding: 3px;
}

img {
    border-radius: 49%;
    height: 280px;
    width: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.details {
    margin: 5px;
    border: 2px solid #2F5249;
    padding: 20px;
    width: 50%;
    align-self: center;
    border-radius: 30px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

legend {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

blockquote {
    text-indent: -0.45em;
    font-style: italic;
    font-size: 17px;
}

@supports ( hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

/* MEDIA QUERY FOR DIFRENT TYPES OF SCREEN */

/* Mobile small screen */

@media (max-width: 250px) {

    /* Layout */

    .container {
        margin: 0 1px 0 1px;
        padding: 2px;
    }

    /* Header */

    .navigation {
        justify-self: center;
        padding: 2px;
    }

    .logo2 {
        display: none;
    }

    .logo h1 {
        font-size: 15px;
    }

    .right {
        display: none;
    }

    /* Footer */

    .right {
        display: none;
    }

    .footer {
        justify-self: center;
        padding: 2px;
    }

    /* Icons */

    .fa-briefcase {
        font-size: .8rem;
        color: wheat;
    }

    /* Main Content */

    .content {
        margin: 1px;
        border: 0;
        padding: 0;
        display: inline-grid;
        justify-items: center;
    }

    fieldset legend {
        font-size: 12px;
    }

    .details {
        margin: 1px;
        padding: 10px;
    }

    .title {
        margin: 1px;
        border: 0;
        padding: 0;
        display: contents;
    }

    img {
        width: 90px;
        height: 90px;
    }

    blockquote {
        font-size: 12px;
    }
}

/* Mobile medium screen */

@media (min-width: 251px) and (max-width: 400px) {

    /* Layout */

    .content {
        display: inline-grid;
        justify-items: center;
    }

    /* Header */

    .navigation {
        justify-self: center;
    }

    .logo2 {
        display: none;
    }

    .logo h1 {
        font-size: 100%;
    }

    /* Footer */

    .right {
        display: none;
    }

    .footer {
        justify-self: center;
    }

    /* Main Content */

    fieldset legend {
        font-size: 12px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    blockquote {
        font-size: 12px;
    }

    /* Icons */

    .fa-briefcase {
        font-size: 1rem;
        color: wheat;
    }
}

/* Mobile Phone large screen*/

@media (min-width: 400px) and (max-width: 600px) {

    /* Layout */

    .container {
        width: auto;
        justify-content: center;
    }

    /* Header */

    .logo2 {
        display: none;
    }

    /* Footer */

    .footer {
        justify-self: center;
    }

    /* Main Content */

    .content {
        display: inline-grid;
        justify-items: center;
    }
}

/* Tablet */

@media (min-width: 600px) and (max-width:930px) {

    /* Layout */

    .container {
        width: auto;
        justify-content: center;
    }

    /* Header */

    .logo2 {
        display: none;
    }

    /* Footer */

    .content {
        display: inline-grid;
        justify-items: center;
    }
}